## Working with key numbers on acceptance to DTU
Students accepted in software technology, undergraduate.

In [30]:
# IMPORTS
import re
import urllib2
import json
import numpy as np
import pandas as pd

# Plotting tools
import plotly 
from IPython.display import Image 
import plotly.plotly as py
import plotly.graph_objs as go
# API access to plotting tools
plotly.tools.set_credentials_file(username='frksteenhoff2', api_key ='duu8hsfRmuI5rF2EU8o5')
import matplotlib.pyplot as plt
%matplotlib inline

# CRITERIAS
request_url = 'http://dtu-studiedatavarehus.ait.dtu.dk/vis_noegletal_optag.aspx?aar=0&sem=e&udd=1&ret=12&kon=Alle&alder=0&nt=0&vd=0&land=0&region=0&kv=0&eks=0'

response = urllib2.urlopen(request_url)
#temp_data = json.load(response)

In [10]:
# Elendigt at hente direkte fra databasen
response.read(1000)

''

In [73]:
# Percentage male/female accepted on undergrad Software technology at DTU

YEAR         = range(2004,2018)
DTU_CS_P_F   = np.asarray([5, 2, 2, 0,  10,5, 0,  10,5, 9, 7, 7, 8, 12])
DTU_CS_P_M   = np.asarray([95,98,98,100,90,95,100,90,95,91,93,93,92,88])
CS_YEARLY_ACCEPTED = np.asarray([56,66,62,63,62,55,54,56,55,61,68,68,63,80])
no_females = np.round(np.multiply(DTU_CS_P_F,np.asarray(CS_YEARLY_ACCEPTED/100.0)))
no_males   = np.round(np.multiply(DTU_CS_P_M,np.asarray(CS_YEARLY_ACCEPTED/100.0)))

In [75]:
no_females

array([  3.,   1.,   1.,   0.,   6.,   3.,   0.,   6.,   3.,   5.,   5.,
         5.,   5.,  10.])

In [76]:
no_males

array([ 53.,  65.,  61.,  63.,  56.,  52.,  54.,  50.,  52.,  56.,  63.,
        63.,  58.,  70.])

In [98]:
#A function taking care of plotting
def plot2bar(bar1, name1, bar2, name2, x_in, title, xaxis, yaxis):
    trace1 = go.Bar(
        x    = x_in,
        y    = bar1,
        name = name1
    )

    trace2 = go.Bar(
        x    = x_in,
        y    = bar2,
        name = name2
    )
 
    data = [trace1,trace2]
    layout= go.Layout(
        barmode='group',
        title=title,
        xaxis=dict(
            title=xaxis
        ),
        yaxis=dict(
            title=yaxis
        )
    )

    fig = go.Figure(data=data, layout=layout)
    return py.iplot(fig, filename='grouped-bar')

In [104]:
#A function taking care of plotting
def plotbar(bar, name, x_in, title, xaxis, yaxis):
    trace = go.Bar(
        x    = x_in,
        y    = bar,
        name = name
    )
 
    data = [trace]
    layout= go.Layout(
        title=title,
        xaxis=dict(
            title=xaxis
        ),
        yaxis=dict(
            title=yaxis
        )
    )

    fig = go.Figure(data=data, layout=layout)
    return py.iplot(fig, filename='grouped-bar')

### Plotting

In [101]:
plot2bar(DTU_CS_P_F, "Female", 
         DTU_CS_P_M, "Male", 
         YEAR, 
         "Accepted software technology, percentage", 
         "Year", "Percentage")

In [100]:
plot2bar(no_females, "Female", 
         no_males, "Male", 
         YEAR, 
         "Accepted software technology, numbers", 
         "Year", "Percentage")

### Only girls

In [105]:
plotbar(no_females, "Female", YEAR, "Females accepted", "Year", "Percentage")